    body {
        margin: 0%;
        padding: 0%;
        width: 100%;
        height: 100%;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 6px;
        font-size: 9vmin;
    }
    
    h2 {
        position: relative;
        font-family: 'Bitter', serif;
        letter-spacing: 6px;
        font-size: 5vmin;
        color: white;
        text-align: center;
        background-color: rgba(255, 229, 33);
        margin: 0%;
        width: 3.5;
        
    }

    #upcorch {
        position: relative;
        left: 34%;
        margin-left: auto;
        margin-right:initial;
        width: 15%;

    }
    
    #logo {
        position: relative;
        left: 28%;
        margin: auto;
        width: 45vw;
        padding: 0%;
        margin: 0%;
    }
    
    #triangulo {
        margin-right: auto;
        width: 8vmin;
        position: relative;
        left: 52%;
        padding: 0%;
        margin: 0%;
    }
    
    .line {
        width: 100%;
        background-color: rgba(255, 229, 33);
        height: 4vw;
    }
    
    #corchetes {
        margin-left: auto;
        margin-right: auto;
        width: 25%;
    }
    
    h6 {
        font-family: 'Open Sans';
        letter-spacing: 0.3px;
        color: #8190A5;
        text-align: center;
        font-size: 50%;
        margin: 0%;
    }
    
    input {
        width: 30vw;
        height: 5vw;
        position: relative;
        left: 20%;
        font-family: 'Open Sans';
        align-items: center;
        color: rgb(7, 7, 7);
        border-radius: 4px;
        cursor: pointer;
        font-size: 5vmin;
    }
    
    #btnLogin {
        margin: 0%;
        width: 25vw;
        height: 6vw;
        position: relative;
        left: 38%;
        font-family: 'Open Sans';
        text-align: center;
        background-color: rgba(86, 245, 154);
        color: white;
        border-radius: 4px;
        font-size: 5vmin;
        margin-bottom: 5%
    }
 
    #limaFourthNames p {
        font-size: 0.5vw;
        float: left;
    }
    
    button {
        
        width: 20vmin;
        height: 5vw;
        margin: 100px;
        font-family: 'Open Sans';
        text-align: center;
        color: white;
        background-color: rgba(86, 245, 154);
        border-radius: 3px;
        font-size: 3vmin;
    }
    
    .lima-third-name {
        text-align: center;
    }
    
    .campuses-generations-table {
        position: relative;
        width: 50%;
        left: 35%;
        width: 30vw;
        height: 10vw;
        font-family: 'Open Sans';
        text-align: center;
        background-color: rgba(86, 245, 154);
        border-color: #8190A5;
        border-radius: 4px;
        font-size: 3vw;
    }
    
    .w3-container {
        position: relative;
        width: 20vw;
        margin-top: 0.5vw;
        left: 37% !important;
    }
    
    .container-fluid {
        padding: 5px;
    }
    
    .w3-container {
        box-sizing: inherit;
    }

    p {
        position: relative;
        font-family: 'Bitter', serif;
        letter-spacing: 6px;
        font-size: 6vmin;
        text-align: center;
        background-color: rgba(255, 229, 33);
        margin: 0%;
        width: 3.5;
        border: 7px;
    }
    